/* Título e logo */
.title_main {
  display: flex;
  align-items: center;
}

.Home-tittle a {
  text-decoration: none;
  color: black;
}
.title_main h1 {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 15px;
}

.title_main_As {
  font-weight: bold;
  font-family: "Arimo", sans-serif;
}

.logo_aetherion {
  width: 205px;
  height: 205px;
  object-fit: contain;
}

.Home-tittle {
  display: flex;
  margin: auto;
  margin-right: 100px;
}

.dropdown-item-User {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 10px;
}

.dropdown-item-User input {
  width: 100%;
  padding: 10px;
  border: 1px solid #1e293b;
  border-radius: 5px;
}

.button_login_cd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
#loginButtonUser{
  margin: auto;
  justify-content: center;
  display: flex;
}
table {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 700px;
}

.table-test {
  width: 700px;
  margin: 20px auto;

  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;

  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  padding: 28px;
}

tr:nth-child(even) {
  background-color: rgb(168, 223, 255);
}